/*
  Reset CSS
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  Clearfix
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}

/* Margin and padding settings */
html,
body {
  margin: 0;
  padding: 0;
}

body {
	font-family:'Open Sans';
	font-weight: 400;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.relative {
  position: relative;
}

h1, h2 {
  font-weight: 700;
}

.button {
  display: inline-block;
  position: relative;
  padding: 0 35px;
  border: 1px solid rgb(252, 89, 29);
  border-bottom: 4px solid rgb(205, 47, 16);
  border-radius: 8px;
  background-image: -moz-linear-gradient( 90deg, rgb(252,40,0) 0%, rgb(252,89,29) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(252,40,0) 0%, rgb(252,89,29) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(252,40,0) 0%, rgb(252,89,29) 100%);
  font-size: 20px;
  line-height: 60px;
  letter-spacing: 0.05em;
  color: #fff;
  text-shadow: 0px 2px 0px rgba(205, 47, 16, 0.75);
  text-transform: uppercase;
  text-decoration: none;
  z-index: 1;
}

.button:after {
  content: '';
  display: block;
  width: 294px;
  height: 31px;
  position: absolute;
  top: 64px;
  left: 0px;
  background: url('../img/button_shadow.png') no-repeat;
}

.button:hover {
  background-image: -moz-linear-gradient( 90deg, #cd2f10 0%, #eb3714 100%);
  background-image: -webkit-linear-gradient( 90deg, #cd2f10 0%, #eb3714 100%);
  background-image: -ms-linear-gradient( 90deg, #cd2f10 0%, #eb3714 100%);
  border-color: #cd2f10;
  top: -1px;
}

.button:active {
  top: 0;
}

/* Header */
header {
  height: 487px;
  background: url("../img/header_bg_md.jpg") top center no-repeat;
  font-weight: 700;
  color: #fff;
}

.wrap {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
}

header h1 {
  font-size: 30px;
  line-height: 52px;
  padding-top: 12px;
  margin-left: 150px;
}

header h2 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15em;
  color: #fc3f0d;
  margin-left: 150px;
}

header .under-header {
  display: none;
}

header h3 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-left: 308px;
  margin-top: 66px;
}

header h3:nth-of-type(2) {
  margin-top: 5px;
  color: #fc4310;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.16em;
}

header h3 span{
  background-color: #fff;
  color: #fc4310;
  border-radius: 8px;
  padding: 3px 7px 3px 10px;
  margin-left: 40px;
}

header .price {
  display: inline-block;
  font-size: 32px;
  line-height: 52px;
  margin-left: 308px;
  margin-top: 56px;
  padding-left: 28px;
}

header .price .old {
  text-decoration: line-through;
  color: #fc5219;
}

header .price .old + span{
  position: relative;
  top: -5px;
  color: #fc5219;
  font-size: 24px;
}

header .price .new {
  color: #fff;
  margin-left: 56px;
}

header .price .new span{
  position: relative;
  top: -5px;
  color: #fff;
  font-size: 24px;
}

header .button {
  margin: 20px 0 0 310px;
}

/* b1 */
.b1 {
  height: 400px;
  margin-top: 250px;
  padding-top: 275px;
  background: url("../img/video_bg_md.jpg") top center no-repeat;
}

.video {
  position: absolute;
  top: -485px;
  left: 10px;
  width: 655px;
  height: 375px;
  border-radius: 4px;
  background: #333;
  padding: 20px;
  background-image: -moz-linear-gradient( 59deg, #313639 0%, #575c5e 100%);
  background-image: -webkit-linear-gradient( 59deg, #313639 0%, #575c5e 100%);
  background-image: -ms-linear-gradient( 59deg, #313639 0%, #575c5e 100%);
}

.video-shadow {
  content: '';
  width: 692px;
  height: 22px;
  position: absolute;
  top: -70px;
  left: 0px;
  background: url('../img/video_shadow.png') top center no-repeat;
}

.gallery {
  position: absolute;
  top: -485px;
  right: 10px;
  width: 234px;
  height: 437px;
  background: url("../img/men_md.png") top center no-repeat;
}

.features {
  float: left;
  width: 298px;
  height: 335px;
  background-color: rgb(51, 56, 59);
  border: 1px solid rgba(101, 109, 115, 0.25);
  border-radius: 8px;
  border-top-right-radius: 0px;
  color: #fff;
}

.features h2 {
  position: relative;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  margin-left: 58px;
  padding-left: 18px;
  border-left: 1px solid #656d73;
}

.features h2:before {
  content: '';
  display: block;
  width: 31px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: -43px;
  background: url('../img/features_1.png') no-repeat;
}

.features h2:after {
  content: '';
  display: block;
  width: 28px;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 239px;
  background: url('../img/right_arrow.png') no-repeat;
}

.features ul {
  padding-left: 48px;
  border-top: 1px solid #656d73;
}

.features li{
  font-size: 16px;
  line-height: 44px;
  position: relative;
}

.features li:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 16px;
  left: -26px;
  background: url('../img/ellipse.png') no-repeat;
}

.features-2 {
  float: none;
  margin-left: 640px;
  border-top-right-radius: 8px;
}

.features-2 h2:before {
  background: url('../img/features_2.png') no-repeat;
}

.features-2 h2:after {
  display: none;
}

.b1 .button {
  margin: 32px 0 0 327px;
}

.b2 {
  height: 531px;
  background: url('../img/feedback_bg_md.jpg') top center no-repeat;
  text-align: center;
}

.b2 h1 {
  padding-top: 55px;
  font-size: 30px;
  line-height: 52px;
  color: #333;
}

.b2 h1 span{
  color: #fc3c0c;
}

.slider {
  margin-top: 40px;
  color: #222222;
}

.slider img:first-child {
  display: block;
  float: left;
  padding-right: 20px;
}
.slider img:nth-of-type(2) {
  display: block;
  margin-top: 19px;
  margin-left: 1px;
}
.slider h3 {
  margin-top: 18px;
}

.slider h3 span{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider p {
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  padding: 15px 20px 0 0;
}

.slick-prev,
.slick-next {
  z-index: 1;
  font-size: 0;
  line-height: 0;
  position: absolute;
  display: block;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:before {
    content: '';
    background: url('../img/feedback_arrow_left.png') no-repeat;
    width: 15px;
    height: 26px;
    background-position: 0px 0px;
    position: absolute;
    top: 59px;
    left: 500px;
}

.slick-next:before {
    content: '';
    background: url('../img/feedback_arrow_right.png') no-repeat;
    width: 15px;
    height: 26px;
    background-position: 0px 0px;
    position: absolute;
    top: -249px;
    left: 898px;
}
/* Mediaqueries */

/* Tablet */
@media screen and (max-width: 959px) {

  .wrap {
    width: 640px;
  }

  header {
    background: url("../img/header_bg_sm.jpg") top center no-repeat;
  }

  header h1 {
    padding-top: 5px;
    margin-left: 10px;
  }

  header h2 {
    margin-left: 10px;
  }

  header .under-header {
    display: none;
  }

  header h3 {
    margin-left: 160px;
    margin-top: 59px;
  }

  header .price {
    margin-left: 160px;
    margin-top: 52px;
  }

  header .price .old {
    text-decoration: line-through;
    color: #fc5219;
  }

  header .price .old span{
    position: relative;
    top: -5px;
    color: #fc5219;
    font-size: 24px;
  }

  header .price .new {
    color: #fff;
    margin-left: 56px;
  }

  header .price .new span{
    position: relative;
    top: -5px;
    color: #fff;
    font-size: 24px;
  }

  header .button {
    margin: 19px 0 0 160px;
  }

  .b1 .gallery,
  .b1 .video-shadow {
    display: none;
  }

  .b1 {
    margin-top: 230px;
    height: 1125px;
    background: url("../img/video_bg_sm.jpg") top center no-repeat;
  }

  .b1 .video {
    width: 540px;
    height: 340px;
    left: 30px;
  }

  .b1 .features {
    float: none;
    margin-left: 160px;
    margin-top: -80px;
    border-top-right-radius: 8px;
  }

  .b1 .features h2:after {
    display: none;
  }

  .b1 .features-2 {
    margin-top: 440px;
  }

  .b1 .button {
    margin: 56px 0 0 168px;
  }

  .b2 {
    height: 750px;
    background: url("../img/feedback_bg_sm.jpg") top center no-repeat;
  }

  .slider {
    text-align: center;
  }

  .slider img:first-child,
  .slider img:nth-of-type(2) {
    display: inline-block;
    float: none;
    padding: 0;
  }

  .slider h3 {
    margin-top: 8px;
  }

  .slick-prev:before {
    top: 364px;
    left: 105px;
  }

  .slick-next:before {
    top: -218px;
    left: 502px;
  }

  .slider p {
    padding: 14px 78px 0px 96px;
  }


}

/* Mobile */
@media screen and (max-width: 654px) {

  .wrap {
    width: 320px;
  }

  header {
    height: 468px;
    background: url("../img/header_bg_xs.jpg") top center no-repeat;
  }

  header h1 {
    font-size: 32px;
    line-height: 36px;
    padding-top: 12px;
    letter-spacing: 0.052em;
  }

  header h1 span {
    color: #fc3f0d;
    letter-spacing: 0.097em;
  }

  header h2,
  header h3,
  header .price,
  header .button {
    display: none;
  }

  header .under-header {
    display: block;
    height: 270px;
    margin-top: 352px;
    background: url('../img/under_header.jpg') top center no-repeat;
  }

  header .under-header h3 {
    display: block;
    margin-left: 0;
    letter-spacing: 0.036em;
  }

  header .under-header h3:first-child {
    padding-top: 20px;
  }

  header .under-header h3 span {
    margin-left: 74px;
  }

  header .under-header .price {
    display: inline-block;
    margin-left: 0px;
    margin-top: 60px;
  }

  header .under-header .price .new{
    display: inline-block;
    margin-left: 65px;
  }

  header .under-header .button {
    display: inline-block;
    margin-left: 0px;
  }

  .b1 {
    margin-top: 480px;
    height: 655px;
    background: url('../img/video_bg_xs.jpg') top center no-repeat;
  }

  .b1 .video {
    left: 0px;
    top: -380px;
    width: 280px;
    height: 167px;
  }

  .b1 .features {
    margin-left: 0px;
    margin-top: -135px;
  }

  .b1 .features-2 {
    margin-top: 30px;
  }

  .b1 .button {
    margin-top: 50px;
    margin-left: 8px;
  }

  .b2 {
    height: 820px;
    background: url('../img/feedback_bg_xs.jpg') top center no-repeat;
  }

  .slider img:first-child {
    width: 300px;
  }

  .slider img:nth-of-type(2) {
    width: 300px;
  }

  .slider h3 {
    margin-top: 8px;
  }

  .slick-prev:before {
    top: 82px;
    left: 3px;
  }

  .slick-next:before {
    top: -478px;
    left: 282px;
  }

  .slider p {
    padding: 20px 0 0 0;
  }
}
